<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<head>
	<title>Login</title>
</head>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
	<div class="container">
	  <a href="index.html" class="navbar-brand"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;">ProjectA09</a>
	</div>
  	</nav>
  	<!-- HEADER -->
	  <header id="main-header" class="py-2 bg-primary text-white">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-6">
	          <h1>
	            <i class="fas fa-user"></i> ProjectA09 Admin</h1>
	        </div>
	      </div>
	    </div>
	  </header>
<!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </section>
<!-- LOGIN -->
  <section id="login">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4>Account Login</h4>
            </div>
            <form method="post">
			  {% csrf_token %}
			  {{ form.as_p }}
			  <button type="submit" class="btn btn-primary btn-block">Login</button>
			</form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}