<h1>{{ course.name }}</h1>

{% for details in course.detail_set.all %}
	<h2>{{ details.min_GPA }}</h2>
	<h2>{{ details.description }}</h2>
{% endfor %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
	<section id="actions" class="py-4 mb-4 bg-light">
		<div class="container">
		  <div class="row">
		    <div class="col-md-3">
		      <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addCourseDetailsModal">
		        <i class="fas fa-plus"></i> Add Course Details
		      </a>
		    </div>
		  </div>
		</div>
		</section>

		<div class="modal fade" id="addCourseDetailsModal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				  <div class="modal-header bg-warning text-white">
				    <h5 class="modal-title">Add Course Details</h5>
				    <button class="close" data-dismiss="modal">
				      <span>&times;</span>
				    </button>
				  </div>
				  <div class="modal-body">         
				    <form action="{% url 'users:add_course_details' course.id %}" method="POST" accept-charset="UTF-8">
				      {% csrf_token %}
				      <div class="form-group">
				        <label>Min GPA</label>
				        <input type="text" class="form-control" name="min_GPA">
				        <label>Description</label>
				        <input type="text" class="form-control" name="description">
				      </div>
				      <!-- <div class="form-group">
				        <label for="password">Password</label>
				        <input type="password" class="form-control">
				      </div>
				      <div class="form-group">
				        <label for="password2">Confirm Password</label>
				        <input type="password" class="form-control">
				      </div> -->
				      <input type="submit" name="users"/>
				      <!-- <div class="modal-footer">
				        <button class="btn btn-warning" data-dismiss="modal">Save Changes</button>
				      </div> -->
				    </form>
				  </div>
				</div>
			</div>
		</div>


		<section id="actions" class="py-4 mb-4 bg-light">
		<div class="container">
		  <div class="row">
		    <div class="col-md-5">
		      <a href="#" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addSpecialRequestModal">
		        <i class="fas fa-plus"></i> Independent Study / Additional Project
		      </a>
		    </div>
		  </div>
		</div>
		</section>

		<div class="modal fade" id="addSpecialRequestModal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				  <div class="modal-header bg-warning text-white">
				    <h5 class="modal-title">Independent Study / Additional Project</h5>
				    <button class="close" data-dismiss="modal">
				      <span>&times;</span>
				    </button>
				  </div>
				  <div class="modal-body">         
				    <form action="{% url 'users:special_req' course.id %}" method="POST" accept-charset="UTF-8">
				      {% csrf_token %}
				      <div class="form-group">
					      <label for="category">Request</label>
			              <select class="form-control" name="req">
			                <option value="Independent Study">Independent Study</option>
			                <option value="Additional Project">Additional Project</option>
			              </select>
				      </div>
				      <input type="submit" name="users"/>
				    </form>
				  </div>
				</div>
			</div>
		</div>

		<section id="posts">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-9">
		          <div class="card">
		            <div class="card-header">
		              <h4>Special Requests</h4>
		            </div>
		            <table class="table table-striped">
		              <thead class="thead-dark">
		                <tr>
		                  <th>#</th>
		                  <th>Course Name</th>
		                  <th>Student</th>
		                  <th>Request</th>
		                  <th>Status</th>
		                </tr>
		              </thead>
		              <tbody>
		                {% for request in course.bufferspecialpermissionstable_set.all %}
		                  <tr>
		                    <td>{{request.id}}</td>
		                    <td>{{request.course}}</td>
		                    <td>{{user.username}}</td>
		                    <td>{{request.req}}</td>
		                    <td>{{request.status}}</td>
		                {% endfor %}
		              </tbody>
		            </table>
		          </div>
		        </div>
		          <!--div class="card text-center bg-warning text-white mb-3">
		            <div class="card-body">
		              <h3>Users</h3>
		              <h4 class="display-4">
		                <i class="fas fa-users"></i> 4
		              </h4>
		              <a href="users.html" class="btn btn-outline-light btn-sm">View</a>
		            </div-->
		          </div>
		        </div>
		      </div>
		    </div>
		  </section>

	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
</body>