<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<!HTML>
<head>
	<title>Login</title>
</head>

<!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </section>
<!-- LOGIN -->
  <section id="login">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4>User Login</h4>
            </div>
            <form enctype="multipart/form-data" method="post">
              {% csrf_token %}
              {{ form.data }}
			  <p><label for="id_username">Username</label> <input type="text" name="username" autofocus required id="id_username"></p>
              <p><label for="id_password">Password</label> <input type="password" name="password" required id="id_password"></p>
              <p><label for="id_role">&nbsp;&nbsp;&nbsp;Role &nbsp; &nbsp; &nbsp;</label><select id="role" name="role">
                 <option selected="selected" disabled></option>
                 <option value="admin">admin</option>
                    <option value="student" selected>student</option>
                   <option value="faculty">faculty</option>
                </select>
			  <button type="submit" name="loginBtn" class="btn btn-primary btn-block">Login</button>
			   <a href="#" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#addProfileModal">View</a>			 	 
			</form>
          </div>
        </div>
      </div>
    </div>
  </section>

  </main>
      
    {% if messages %}
    {% for message in messages %}
     <script>
     var msg = '{{ message }}';
     sweetAlert(msg);
     </script>
    {% endfor %}
    {% endif %} 

 
</body>
</html>
  
  
{% endblock %}
